<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>配置</title>
    <style>
        #iframeTop{
            width: 100%;
            height: 120px;
            background-color: #66CCCC;
	        text-align: center;
        }
        #iframeLeft{
            width: 15%;
            height: 700px;
            float: left;
            background-color: #dfdfdf;
        }
        #iframeContent{
            width: 84%;
            height: 700px;
        }
       </style>
</head>


<body>

<div>
    <iframe id="iframeTop" name="iframeTop" frameborder="0" scrolling="no" src="/static/conf_title.html"></iframe>
    <iframe id="iframeLeft" name="iframeLeft" frameborder="0"  src="/static/conf_list.html"></iframe>
    <iframe id="iframeContent" name="iframeContent" frameborder="0"  src="/server_status"></iframe>
</div>
</body>
</html>